.status {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 306px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 50px auto;
}

.square {
  background-color: rgba(0, 175, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 100px;
  height: 100px;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
}

.square:hover {
  opacity: 0.6;
  cursor: pointer;
}

.win {
  background-color: rgba(175, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 100px;
  height: 100px;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
}

.game-info {
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 4px;
  padding: 10px;
  border-radius: 5px;
  border-color: "green";
  background-color: rgba(0, 0, 135, 0.8);
}

.btn:hover {
  cursor: pointer;
}
